@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bg: #f7e8c3;
    --primary-text: #1f0f4d;
}

html, body {
    font-size: 16px;
}

body {
  color: rgb(var(--primary-text));
  background: var(--primary-bg);
}
